.Parte1{
    background-color: #BDC7D0;
}

input{
    width: 40%;  
    box-shadow: 2px 2px 5px #888888; 
}

.Persona {
    box-shadow: 2px 2px 5px #888888;
    border-radius: 20px;
    bottom:10px;
    margin: 20px;
}
.card-img-top{
height: auto;
}

button{
    justify-content: center;
    align-items: center;
    background-color: #8A5454;
  
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px #888888;
    height: 130px;
    width: 130px;
}

button:hover{
    background-color: #694141;
}
.icon{
    font-size: 40px;
    color: #ffffff;
}
