<router-outlet></router-outlet>
<div class="cuerpo">
  
        <div class="row align-items-center mt-4">
          <div class=" Parte1 card col-8 ms-4">
            <div class=" Buscador mt-2 mb-3">
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Buscar">
            </div>
            <div class="card-group mt-3">
              <div class="Persona card">
                <img src="./assets/Persona5.jpg" class="card-img-top" >
                <div class="card-body">
                  <h5 class="card-title">Jessica Perez Gutierrez</h5>
                  <p class="card-text">Edad: 30 años Fecha de desapacion: 15/03/23 Lugar: Pachuca de soto, Hidalgo</p>
                </div>
                <div class="card-footer">
                  <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="Persona card ms-3">
                <img src="./assets/Persona4.jpeg" class="card-img-top" >
                <div class="card-body">
                  <h5 class="card-title">Lidia Gomez Rodrigez</h5>
                  <p class="card-text">Edad: 20 años Fecha de desapacion: 15/03/23 Lugar: Pachuca de soto, Hidalgo</p>
                </div>
                <div class="card-footer">
                  <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="Persona card ms-3">
                <img src="./assets/Persona3.jpeg" class="card-img-top" >
                <div class="card-body">
                  <h5 class="card-title">Maria Lopez Hernandez</h5>
                  <p class="card-text">Edad: 23 años Fecha de desapacion: 15/03/23 Lugar: Pachuca de soto, Hidalgo</p>
                </div>
                <div class="card-footer">
                  <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="d-grid gap-2 mx-auto">
              <button class="btn" type="button">Button</button>
              <button class="btn" type="button">Button</button>
            </div>
          </div>
        </div>
      
</div>
