<body>
    <router-outlet></router-outlet>

    <div class="register-box">

        <!-- multistep form -->
        <form id="msform" class="form">

            <!-- progressbar -->
            <ul id="progressbar">
                <li class="pointer"(click)="setActiveItem('1')" [ngClass]="{ 'active': cont == 1 }">Persona Reportante</li>
                <li class="pointer"(click)="setActiveItem('2')" [ngClass]="{ 'active': cont == 2 }">Persona Desaparecida</li>
                <li class="pointer"(click)="setActiveItem('3')" [ngClass]="{ 'active':cont == 3 }">Circunstancias de Desaparición</li>
                <li class="pointer"(click)="setActiveItem('4')" [ngClass]="{ 'active': cont == 4  }">Patrones de comportamiento</li>
                <li class="pointer"(click)="setActiveItem('5')" [ngClass]="{ 'active': cont == 5  }">Información de contacto</li>
                <li class="pointer"(click)="setActiveItem('6')" [ngClass]="{ 'active': cont == 6  }">Transporte</li>
                <li class="pointer"(click)="setActiveItem('7')" [ngClass]="{ 'active':cont == 7  }">Descripción fisica</li>
                <li class="pointer"(click)="setActiveItem('8')" [ngClass]="{ 'active':cont == 8  }">Fotografia de la Persona</li>
                <li class="pointer"(click)="setActiveItem('9')" [ngClass]="{ 'active':cont == 7  }">Confirmación</li>
            </ul>



            <!-- fieldsets -->

            <fieldset *ngIf="cont == 1">
                <h2 class="fs-title">Datos</h2>
                <h3 class="fs-subtitle">De La Persona Que Reporta</h3>
                
                <div class="campo">
                    <div>
                        <input type="text" name="nombre" placeholder="Nombre" />
                        <input type="text" name="apellidoP" placeholder="Apellido Paterno" />
                        <input type="text" name="apellidoM" placeholder="Apellido Materno" />
                    </div>
    
                    <div>
                        <input type="number" name="edad" placeholder="Edad" />
                        <input type="tel" name="telefono" placeholder="Telefono" />
                        <input type="email" name="email" placeholder="Correo@example.com" />
                    </div>

                    <label class="Radios"> Sexo </label>

                    <fieldset id="switch" class="radio">
                        <input name="switch" id="on" type="radio">
                        <label for="on">Masculino</label>
                        <input name="switch" id="off" type="radio">
                        <label for="off">Femenino</label>
                        <input checked="" name="switch" id="auto" type="radio">
                        <label for="auto">Otro</label>
                    </fieldset>
                    
    
                    <div class="more">
                        <input type="text" name="domicilio" placeholder="Domicilio" />
                        <input type="text" name="ocupacion" placeholder="Ocupacion" />
                    </div>
    
                    <div class="dato">
                        <input type="text" name="relacion" placeholder="Relacion con la persona reportada" />
                    </div>
                </div>
                
            </fieldset>

            <fieldset  *ngIf="cont == 2">
                <h2 class="fs-title">Información Personal</h2>
                <h3 class="fs-subtitle">Persona No localizada o Desaparecida</h3>
                
                <div class="campo">
                    <div class="datos">
                        <input type="text" name="nombre" placeholder="Nombre" />
                        <input type="text" name="apellidoP" placeholder="Apellido Paterno" />
                        <input type="text" name="apellidoM" placeholder="Apellido Materno" />
                    </div>
                    
                    <div  class="datos">
                        <input type="text" name="alias" placeholder="Alias" />
                        <input type="text" name="genero" placeholder="Identidad de Genero" />
                    </div>

                    <div class="datos">
                        <div class="fecha">
                            <label> Fecha de Nacimiento</label>
                            <input type="date" name="fecha-nacimiento"/>
                        </div>
                        <input type="number" name="edad" placeholder="Edad Años" />
                        <input type="number" name="edad" placeholder="Edad Meses" />
                        <input type="number" name="edad" placeholder="Edad Dias" />
                    </div>
    
                    <div class="datos">
                        <input type="text" name="nacionalidad" placeholder="Nacionalidad" />
                        <input type="text" name="lugar-nacimientoE" placeholder="Estado de Nacimiento" />
                        <input type="text" name="lugar-nacimientoM" placeholder="Municipio de Nacimiento" />
                        <input type="text" name="lugar-nacimientoL" placeholder="Localidad de Nacimiento" />
                    </div>
    
                    <div class="dato">
                        <input type="text" name="curp" placeholder="CURP" />
                    </div>
                    
                    <div  class="datos">
                        <input type="text" name="estadoCivil" placeholder="Estado Civil" />
                        <input type="text" name="trabajo" placeholder="Ocupacion de Trabajo" />
                        <input type="text" name="trabajo-lugar" placeholder="Lugar de Trabajo" />
                    </div>
                    
                    <div  class="datos">
                        <input type="text" name="domicilio" placeholder="Domicilio" />
                        <input type="text" name="habitantes" placeholder="Personas con las que habita" />
                        <input type="number" name="hijos" placeholder="Numero de Hijos" />
                        <input type="text" name="trabajo" placeholder="Los hijos dependen" />
                    </div>
    
                <div class="dato">
                    <input type="text" name="pasatiempo" placeholder="Pasatiempos" />
                </div>

                </div>
                
            </fieldset>

            <fieldset *ngIf="cont == 3">
                <h2 class="fs-title">Datos</h2>
                <h3 class="fs-subtitle">Circunstancias de Desaparición</h3>
                
                <div class="campo">
                    <div>
                        <div class="datos">
                            <div class="fecha">
                                <label>Fecha de Desaparicion</label>
                                <input type="date" name="fecha-desaparicion" placeholder="Fecha de Desaparicion" />
                            </div>

                            <div class="fecha">
                                <label>Fecha de Ultima Vez Que Se Vio</label>
                                <input type="date" name="fecha-ultima" placeholder="Fecha de Ultima vez que se le vio " />
                            </div>
                        </div>    
                    </div>
    
                    <div class="datos">
                        <div class="fecha">
                            <label>Fecha de Ultimo Contacto</label>
                            <input type="date" name="fecha-ultima" placeholder="Ultimo Contacto con la Persona" />
                        </div>
                        <div class="fecha">
                            <label>Hora de Ultimo Contacto</label>
                            <input type="time" name="hora-ultima" placeholder="Ultima Hora con la Persona" />
                        </div>
                        
                    </div>

                    <div class="datos">
                        <input type="text" name="medio-ultimo" placeholder="Ultimo Medio de Contacto" />
                        <input type="text" name="persona-ultimo" placeholder="Ultima Persona Que Contacto" />
                    </div>
    
                    <div class="datos">
                        <input type="text" name="lugar-dirigido" placeholder="¿A donde se dirigia?" />
                        <input type="text" name="vestimenta" placeholder="Vestimenta en el momento de la desaparición" />
                    </div>
    
                    <div class="datos">
                        <input type="text" name="problemas-fam" placeholder="¿Problemas con familiares?" />
                        <input type="text" name="sospechas" placeholder="Sospechas sobre alguien" />
                    </div>
    
                    <div class="dato">
                        <input type="text" name="enemigos" placeholder="¿Presencia de enemigos?" />
                    </div>
                </div>
                
            </fieldset>

            <fieldset *ngIf="cont == 4">
                <h2 class="fs-title">Datos</h2>
                <h3 class="fs-subtitle">Patrones de comportamiento</h3>
                
                <div class="campo">
                    <div class="datos">
                        <input type="text" name="falta" placeholder="¿Ha faltado a su casa en otras ocasiones?" />
                        <input type="text" name="ultimo-lugar" placeholder="Lugar de Ultima Aparición" />
                    </div>
    
                    <div class="datos">
                        <input type="text" name="rutina" placeholder="¿Recorrido o rutina diaria?" />
                        <input type="text" name="lugar-frecuente" placeholder="Lugares frecuentados" />
                    </div>
    
                    <div class="datos">
                        <input type="text" name="actitudes" placeholder="¿Actitud extraña antes de la ausencia?" />
                        <input type="text" name="vestimenta" placeholder="Comunicaciones previas a la desaparicion" />
                        <input type="text" name="vestimenta" placeholder="Violencia previas a la desaparicion" />
                    </div>
                </div>

                
            </fieldset>

            <fieldset *ngIf="cont == 5">
                <h2 class="fs-title">Datos</h2>
                <h3 class="fs-subtitle">Información de contacto</h3>

                <div class="campo">
                    <div class="datos">
                        <input type="tel" name="lugar-dirigido" placeholder="Telefono de la persona reportada" />
                        <input type="text" name="vestimenta" placeholder="Compañia telefonica" />
                        <input type="tel" name="lugar-dirigido" placeholder="Telefono de un Familiar" />
                        <input type="mail" name="email-desaparecido" placeholder="Correo de la Persona Desaparecida " />
    
                    </div>
    
                    <div class="dato">
                        <div class="dato">
                            <label>Redes Sociales de la Persona</label>
                        </div>
                        
                        <div class="datos">
                            <input type="text" name="lugar-dirigido" placeholder="Instagram" />
                            <input type="text" name="lugar-dirigido" placeholder="Facebook" />
                            <input type="text" name="lugar-dirigido" placeholder="Twitter ( X )" />
                        </div>
                    </div>
                </div>

            </fieldset>

            <fieldset *ngIf="cont == 6">
                <h2 class="fs-title">Datos</h2>
                <h3 class="fs-subtitle">Transporte</h3>
                
                <div class="campo">

                    <div class="dato">
                        <div class="mores">
                            <label>Medio de Transporte</label>
                        </div>
                        
                        <div class="datos">
                            <label class="material-checkbox">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                Automovil
                            </label>
                        </div>

                        <div class="dato">
                            <input type="text" name="caracteristicas" placeholder="Caracteristicas" />
                        </div>

                        <div class="datos">
                            <label class="material-checkbox">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                Autobus
                            </label>
                        </div>
                        
                    </div>
                </div>
                

            </fieldset>

            <fieldset *ngIf="cont == 7">
                <h2 class="fs-title">Datos</h2>
                <h3 class="fs-subtitle">Descripción fisica</h3>
                <div class="campo">

                    <div class="dato">
                        <label class="Radios">
                            Color de piel
                        </label>
                        <div class="datos">
                            <label class="material-checkbox">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                Morena
                            </label>
    
                            <label class="material-checkbox">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                Morena Clara
                            </label>
    
                            <label class="material-checkbox">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                Morena Oscura
                            </label>
    
                            <label class="material-checkbox">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                Blanca
                            </label>
                            <label class="material-checkbox">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                Otra
                                <input type="text" name="otra" placeholder="Escriba" />
                            </label>
                        </div>
                    </div>
                    
                    
                </div>>
                
            </fieldset>

            <fieldset *ngIf="cont == 8">
                <h2 class="fs-title">Datos</h2>
                <h3 class="fs-subtitle">Registrados</h3>
                
                <div class="container"> 
                    <div class="header"> 
                      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> 
                        <path d="M7 10V9C7 6.23858 9.23858 4 12 4C14.7614 4 17 6.23858 17 9V10C19.2091 10 21 11.7909 21 14C21 15.4806 20.1956 16.8084 19 17.5M7 10C4.79086 10 3 11.7909 3 14C3 15.4806 3.8044 16.8084 5 17.5M7 10C7.43285 10 7.84965 10.0688 8.24006 10.1959M12 12V21M12 12L15 15M12 12L9 15" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg> <p>Seleciona un Archivo </p>
                    </div> 
                    <label for="file" class="footer"> 
                      <svg fill="#000000" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M15.331 6H8.5v20h15V14.154h-8.169z"></path><path d="M18.153 6h-.009v5.342H23.5v-.002z"></path></g></svg> 
                      <p>Not selected file</p> 
                      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M5.16565 10.1534C5.07629 8.99181 5.99473 8 7.15975 8H16.8402C18.0053 8 18.9237 8.9918 18.8344 10.1534L18.142 19.1534C18.0619 20.1954 17.193 21 16.1479 21H7.85206C6.80699 21 5.93811 20.1954 5.85795 19.1534L5.16565 10.1534Z" stroke="#000000" stroke-width="2"></path> <path d="M19.5 5H4.5" stroke="#000000" stroke-width="2" stroke-linecap="round"></path> <path d="M10 3C10 2.44772 10.4477 2 11 2H13C13.5523 2 14 2.44772 14 3V5H10V3Z" stroke="#000000" stroke-width="2"></path> </g></svg>
                    </label> 

                    <input id="file" type="file"> 
                  </div>

            </fieldset>

            <fieldset *ngIf="cont == 9">
                <h2 class="fs-title">Datos</h2>
                <h3 class="fs-subtitle">Registrados</h3>
                <div class="campo">

                    <div class="dato">
                        <label>¡Registro completo!</label>
                        
                        <label>Folio del Expediente:</label>
                        
                    </div>
                    
                </div>>
                
            </fieldset>

            <div class="buttons">
                <button class="btn" (click)="After()">Anterior</button>
                <button class="btn" (click)="Next()">Siguiente</button>
            </div>
        </form>


        

    </div>

  </body>