
<router-outlet></router-outlet>

    <body>
        <div class="columna">
            <p class="tituloFormulario">Registro de Nueva Ficha de Busqueda</p>
            <form  [formGroup]="form" (ngSubmit)="Entrar()">
                
                <div class="fila">
    
                    <div class="form-floating">
                        <input type="text" class="form-control"  
                            placeholder="Nombre" aria-label="Nombre"
                            aria-describedby="basic-addon1">
                        <label for="">Nombre</label>
                    </div>
                    
                    <div class="form-floating">
                        <input type="text" class="form-control" 
                            placeholder="Apellido Paterno" aria-label="Apellido Paterno"
                            aria-describedby="basic-addon1">
                        <label for="">Apellido Paterno</label>
                    </div>
        
                    <div class="form-floating">
                        <input type="text" class="form-control"  formControlName="ApellidoM" 
                            placeholder="Apellido Materno" aria-label="Apellido Materno"
                            aria-describedby="basic-addon1">
                        <label for="">Apellido Materno</label>
                    </div>
                    
                </div>
                
                <button type="submit"  class="btn text-white upp  mt-3">Enviar</button>
    
            </form>
    
    
        </div>
    
    </body>
        

