<nav class="navbar navbar-expand-lg ">
    <div class="container d-flex justify-content-between align-items-center">

      <button class="navbar-toggler"*ngIf="(verificarPantallaPequena() &&  this.ROL == 'Admin')" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar">
        <i class="fa-solid fa-bars burger"></i>
      </button>
   
      <div class="offcanvas offcanvas-start color" tabindex="-2" id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel" style="width: 76%;">
        <div class="offcanvas-header">
          <div
            *ngIf="verificarPantallaPequena() && this.ROL == 'Admin'">
           
            <label class="nombreNav ms-2 d-flex"> <i class="fa-solid fa-circle-user user me-2"></i>{{nombre}}</label>
          </div>
          <i class="fa-solid fa-arrow-left cierre " data-bs-dismiss="offcanvas"></i>
          <!-- <button type="button" class="btn-close " data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
        </div>
  
  
        <ul class="navbar-nav">
          <li *ngIf="this.ROL == 'Admin'" [ngClass]="{ 'active': activeItem === 'Buscar' }">
            <button (click)="setActiveItem('Buscar')"data-bs-dismiss="offcanvas"><i class="fa-solid fa-magnifying-glass me-2" *ngIf="verificarPantallaPequena()"></i>Buscar</button>
          </li>
          <li *ngIf="this.ROL == 'Admin'" [ngClass]="{ 'active': activeItem === 'Crear nuevo' }">
            <button (click)="setActiveItem('Crear nuevo')" data-bs-dismiss="offcanvas"><i class="fa-solid fa-folder-plus me-2" *ngIf="verificarPantallaPequena()"></i>Crear nuevo</button>
          </li>
          <li *ngIf="this.ROL == 'Admin'" [ngClass]="{ 'active': activeItem === 'Usuarios' }">
            <button (click)="setActiveItem('Usuarios')" data-bs-dismiss="offcanvas"><i class="fa-solid fa-users  me-2" *ngIf="verificarPantallaPequena()"></i>Usuarios</button>
          </li>
          <li *ngIf="this.ROL == 'Admin'" [ngClass]="{ 'active': activeItem === 'Compartir' }">
            <button (click)="setActiveItem('Compartir')" data-bs-dismiss="offcanvas"><i class="fa-solid fa-share-nodes me-2" *ngIf="verificarPantallaPequena()"></i>Compartir</button>
          </li>
          <!-- <li *ngIf="rolRectoria" [ngClass]="{ 'active': activeItem === 'Carreras' }">
            <button (click)="setActiveItem('Carreras')" data-bs-dismiss="offcanvas"><i class="fa-solid fa-school icon me-2" *ngIf="verificarPantallaPequena()"></i>Carreras</button>
          </li> -->
          <li
          *ngIf="(verificarPantallaPequena() && this.ROL == 'Admin')">
            <button (click)="salir()" data-bs-dismiss="offcanvas"><i class="fa-solid fa-arrow-right-from-bracket  icon me-2 "></i>Salir</button>
          </li>
        </ul>
      </div>
      <div class=" upp mt-1">

        <label
        *ngIf="(!verificarPantallaPequena() &&  this.ROL == 'Admin')"
          class="letra mx-3">{{this.nombre}}</label>
          <input
          *ngIf="(!verificarPantallaPequena() &&  this.ROL == 'Admin')"
            (click)="salir()" type="button" class="btn btn-outline-light" value="Salir">
      </div>
      <div class="d-flex">
        <img src="./assets/Escudo2.png" class="escudo ms-3">
      </div>
    </div>
  </nav>
  
